<template>

<div>
<p>{{moi}}</p>
<p>{{statu}}</p>

</div>
</template>
<script>
import {mapActions,mapState} from 'vuex';

export default {
  data(){
return{
 moi:this.$auth.$storage.getUniversal('memo')
}
},
computed:{
...mapState(['statu'])
},
middleware:['auth2']

}
</script>