<template>
<div>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<center>
<h1>MODIFIER :<i class="fas fa-bullhorn"></i> </h1>
<div class="div">{{tach.tache}}</div><br/>
<form @submit="modifi($route.params.id)">
<input type="text" class="input" v-model="tacheee"/>
<button  type="submit" class="submite">modifier</button>
</form>
<br/>
  </center>
</div>
</template>
<script>
import axios from 'axios';
export default{
   data(){
     return{
     tacheee:null
     }
   },
   
methods:{
  async modifi(cont){
    await axios.post("http://formation.test/mod",{
      modifii:cont,
      mod:this.tacheee
       })
  }
},
async asyncData(context){
return axios.get("http://formation.test/mod/56").then((res)=>{
  return{
    tach:res.data
  }
})
 }


}
</script>
<style>
div{
width:100%;
}
h1{
  font-size:45px;
}
.div{
  font-size:25px;
}
.centre{
text-align:center;
}
th{
background:#eee;
}
td,th{
border:1px solid #ccc;
height:40px;
}
td{
border-radius:20px;
border:none;
}
table{
width:60%;
}
.bleu{
   background:blue;
   color:white;

   }
.rouge{
    background:red;
    color:white;
}
input{
border:1px solid #ccc;
height:35px;
}
.input{
    width:50%;
    outline:none;  
    border-radius:10px;
}
.submite{
    width:10%;
    background:yellow;
    border:1px solid #ccc;
    height:35px;  
}
</style>