<template>
<div>
<h1>Gestion des Clients</h1>
<ul class="menu">
<li><i class="fas fa-user"></i></li>
<li><i class="fas fa-user"></i></li>
<li><i class="fas fa-user"></i></li>
</ul>
</div>
</template>
<script>
</script>
<style>
.menu{
position:fixed;
bottom:47%;
left:0;
width:75%;
border-radius:0 41px 0 0;
box-shadow:rgba(9,30,66,0.25)0px 1px 1px,rgba(9,30,66,0.13)0px 0px 1px 1px;
background-color:#548CFF;
}
.menu li{
float:left;
width:33.33%;
list-style:none;
text-align:center;
}
.menu i{
font-size:23px;
color:white;
padding:15px 10px;
}
</style>
