<template>

<div>
<div class='menu'>
<p class="bien">BIENVENUE SUR VOTRE PAGE</p>
<button @click="dec">Se deconnecter</button>
</div>
</div>
</template>
<script>
import moi from '~/components/aa.vue';

export default {
  middleware:['auth2'],
data(){
  return{
}
},
methods:{
dec: function(){
this.$auth.$storage.removeUniversal('memo')
location.href="connection"
}
},
middleware:['auth2']

}
</script>
<style>
.menu{
  padding-top:200px;
  text-align:center;
}
.bien{
  font-size:40px;
}
button{
font-size:21px;
border:1px solid #666;
border-radius:5px;
padding:7px 80px 7px 80px;
margin-top:50px;

}
</style>