<template>
<div>
<p class="p">Inscription</p>
<p class="message"></p>
<form @submit.prevent="passe" class="input">
<input type="text" placeholder="Nom complet" v-model="nom"/><br/><br/>
<input type="text" placeholder="Email" v-model="email"/><br/><br/>
<input type="number" placeholder="Age" v-model="ages"/><br/><br/>
<input type="number" placeholder="Telephone" v-model="tel"/><br/><br/>
<input type="text" placeholder="Mot de pass" v-model="pase"/><br/><br/>
<input type="password" placeholder="Comfirmer le mot de pass" v-model="pases"/><br/><br/>
<input type="submit" class="submite"/>

</form>
</div>
</template>
<script>
import axios from 'axios';
import {mapActions,mapState} from 'vuex';

export default{
    data(){
        return{
        nom:null,
        email:null,
        ages:null,
        tel:null,
        pase:null,
        pases:null,
            }
    },
    computed:{
   ...mapState(['msg'])
    },
    methods:{
    ...mapActions(["compte"]),
    passe(){
     const donnee={
          nom: this.nom,
          email: this.email,
          age: this.ages,
          tele: this.tel,
          pas: this.pase,
          pass: this.pases
     }
     this.compte(donnee);
    }
    }
}
</script>
<style>
.p{
text-align:center;
font-size:25px;
font-weight:bold;
color:#292F36;
}
.message{
  text-align:center;
  color:red;
  font-size:19px;
}
.input{
  margin-top:5%;
  width:100%;
}
.input input{
border:1px solid #aaa;
height:35px;
padding:19px 14px;
margin-left:35%;
width:30%;
outline:none;  
border-radius:5px;
}
input::placeholder{
  color:rgba(0,0,0,0.7);
}
.input .submite{
    color:white;
    background:#292F36;
    border:1px solid #ccc;
    padding:0;
    height:40px;
    box-shadow:-1px -1px 3px rgba(255,255,255,0.1),2px 2px 6px rgba(0,0,0,0.8);
}
</style>