<template>
<div>
<p class="p">Se coonnecter</p>
<p class="message">{{message}}</p>
<form @submit.prevent="passe" class="input">
<input type="email" placeholder="Email" v-model="email"/><br/><br/>
<input type="password" placeholder="Mot de pass" v-model="pass"/><br/><br/>
<input type="submit" class="submite"/>

</form>
</div>
</template>
<script>
import axios from 'axios';
export default{
   data(){
        return{
        email:'',
        pass:'',
        message:''
        }
    },
methods:{
 async passe() {
await  axios.post('http://formation.test/connection',{
     email:this.email,
     password:this.pass,
  }).then(res=>{
    if(res.data.status==1){
    this.$auth.$storage.setUniversal('memo',res.data.status)
    location.href="acceuil"
    }else{
      this.message='Email ou mot de passe incorecte'
}
  }

  )
}
}
}
</script>
<style>
.p{
padding-top:10px;
text-align:center;
font-size:25px;
font-weight:bold;
color:#292F36;

}
.message{
  text-align:center;
  color:red;
  font-size:19px;
}
form{
  margin-top:5%;
}
input::placeholder{
  color:rgba(0,0,0,0.7);
}
.input input{
border:1px solid #aaa;
height:35px;
padding:19px 14px;
margin-left:35%;
width:30%;
outline:none;  
border-radius:5px;

}
.input .submite{
    color:white;
    background:#292F36;
    border:1px solid #ccc;
    padding:0;
    height:40px;
    box-shadow:-1px -1px 3px rgba(255,255,255,0.1),2px 2px 6px rgba(0,0,0,0.8);
}
</style>