<template>
<div class="corp">
<h1>Gestion de Compte</h1>
<ul class="menu">
<li @click='connection'><i class="fas fa-user"></i>Se Connecter</li>
<li @click='compte'><i class="fas fa-poll-h"></i>Creer Compte</li>

</ul>
</div>
</template>
<script>
export default {
    methods:{
        compte: function(){
            location.href="/compte";
        },
        connection: function(){
            location.href="/connection";
        }
    }
}
</script>
<style>
body{
    height:100%;
    width:100%;

}
h1{
font-size:30px;
color:#292F36;
font-weight:bold;
}
.menu{
position:fixed;
bottom:47%;
left:0;
width:55%;
border:1px solid #666;
border-radius:0 41px 0 0;
box-shadow:rgba(9,30,66,0.25)0px 1px 1px,rgba(9,30,66,0.13)0px 0px 1px 1px;
}
.menu li{
float:left;
width:50%;
list-style:none;
text-align:center;
font-size:19px;
}
.menu i{
font-size:23px;
padding:15px 10px;
color:#215e65;

}
</style>
